/* ANY CSS FOR ALL WIDTHS GOES HERE
----------------------------------------------------------- */

#s5_map_canvas img { max-width:none !important;}


/* ALL WIDTHS UNDER 970PX
----------------------------------------------------------- */

@media screen and (max-width: 970px){

	/* DEFAULT
	----------------- */

	.s5_wrap {
	width:100% !important;
	}
	
	.s5_is_display, .s5_is_slide {
	position:relative !important;
	}
	
	.s5_is_slide {
	height:auto !important;
	}
	
	#fontControls {
	display:none;
	}
	
	/* CUSTOM
	----------------- */
	
	body {
	font-size:0.7em !important;
	}
	
	.s5_wrap {
	width:94% !important;
	}
	
	#s5_nav li .s5_level1_span1 {
	padding-left:9px;
	padding-right:11px;
	}
	
	#s5_button_frame ul li a {
	padding-left:10px !important;
	padding-right:12px !important;
	}
	
	#s5_button_frame ul li a {
	font-size:1.2em !important;
	}
	
	.s5_is_slide {
	background:#0F0F0F !important;
	}
	
}


/* TABLET PORTRAIT MODE CSS
----------------------------------------------------------- */

@media screen and (min-width:580px) and (max-width: 970px){

	
	/* CUSTOM
	----------------- */
	
}


/* TABLET PORTRAIT MODE CSS - SMALLER TABLETS
----------------------------------------------------------- */

@media screen and (max-width: 750px){

	/* CUSTOM
	----------------- */
	
	#s5_search_wrap {
	display:none;
	}
	
	#s5_footer_float {
	margin-left:0px;
	margin-right:0px;
	}
	
	#s5_pos_custom_2_inner {
	font-size:0.9em;
	}
	
	#s5_logo, #s5_logo_module  {
	margin-top:22px;
	margin-bottom:22px;
	}
	
	.img-intro-right img, .img-intro-left img, .img-intro-left, .img-fulltext-left {
	float:none !important;
	}
	
	.img-intro-right, .img-fulltext-right {
	margin-left:0px;
	}

	.img-intro-left, .img-fulltext-left {
	margin-right:0px;
	}
	
	.img-intro-left, .img-intro-right, .img-fulltext-left, .img-fulltext-right {
	width:100%;
	}
	
	.download_sermon {
	float:none !important;
	margin-left:auto !important;
	margin-right:auto !important;
	display:block;
	width:100%;
	margin-bottom:23px;
	text-align:center;
	}
	
	#s5_pos_custom_2 .highlight_link {
	float:none !important;
	margin-left:auto !important;
	margin-right:auto !important;
	}
	
	.download_sermon_button {
	text-align:center;
	display:block;
	margin-bottom:8px;
	}

}


/* MOBILE LAYOUT CSS
----------------------------------------------------------- */

@media screen and (max-width: 579px){

	/* DEFAULT
	----------------- */

	#s5_right_column_wrap_inner .s5_float_left, #s5_left_column_wrap_inner .s5_float_left {
	float:none;
	}

	#s5_columns_wrap_inner {
	width:100%;
	}

	#s5_center_column_wrap {
	width:100%;
	left:100%;
	}

	#s5_left_column_wrap {
	left:0%;
	}
	
	#s5_left_top_wrap, #s5_left_column_wrap, #s5_left_inset_wrap, #s5_left_wrap, #s5_left_bottom_wrap, #s5_right_top_wrap, #s5_right_column_wrap, #s5_right_inset_wrap, #s5_right_wrap, #s5_right_bottom_wrap, #s5_top_row1 .s5_float_left, #s5_top_row2 .s5_float_left, #s5_top_row3 .s5_float_left, #s5_above_columns_inner .s5_float_left, #s5_middle_top .s5_float_left , #s5_middle_bottom .s5_float_left, #s5_below_columns_inner .s5_float_left, #s5_bottom_row1 .s5_float_left, #s5_bottom_row2, .s5_float_left, #s5_bottom_row3 .s5_float_left, #s5_above_body .s5_float_left, #s5_below_body .s5_float_left {
	width:100% !important;
	}
	
	#s5_center_column_wrap_inner {
	margin:0px !important;
	}
	
	#s5_left_column_wrap {
	margin-right:0px !important;
	}
	
	#s5_right_column_wrap {
	margin-left:0px !important;
	}
	
	.items-row .item {
	width:100% !important;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	}
	
	/* CUSTOM
	----------------- */
	
	#s5_logo_footer {
	display:none;
	}
	
	#s5_right_column_wrap, #s5_left_column_wrap {
	border-top:1px solid #D2D1D1 !important;
	}
	
	#s5_top_right, #s5_top_left {
	float:left;
	display:block;
	width:100%;
	}
	
	#s5_top_left {
	margin-bottom:6px;
	}

}


/* CUSTOM SIZES
----------------------------------------------------------- */

@media screen and (max-width: 350px){
	.slideInfoZone {
	display:none;
	}
}




/* S5 BOX
----------------------------------------------------------- */

@media screen and (max-width: 970px){

	#colorbox {
	width:50% !important;
	height:auto !important;
	}
	
	#cboxWrapper {
	width:100% !important;
	}
	
	#cboxContent, #cboxLoadedContent {
	width:100% !important;
	height:auto !important;
	}
	
	#colorbox {
	left:25% !important;
	width:50% !important;
	height:100% !important;
	top:25% !important;
	}
	
}

@media screen and (max-width: 750px){

	#cboxOverlay, #colorbox {
	display:none !important;
	}
	
}




/* S5 TAB SHOW
----------------------------------------------------------- */

@media screen and (max-width: 750px){

	#s5_button_frame {
	height:auto !important;
	border-left:none !important;
	}
	
	#s5_button_frame ul li, #s5_button_wrap1 {
	margin:0px !important;
	border:none !important;
	}
	
	#s5_button_frame ul li {
	float:none !important;
	text-align:center !important;
	border-bottom:1px solid #D2D1D1 !important;
	border-left:none !important;
	border-right:none !important;
	height:44px !important;
	margin:0px !important;
	}
	
	#s5_button_frame ul li a, #s5_button_frame ul li.s5_ts_active a {
	padding-top:11px !important;
	padding-bottom:11px !important;
	}
	
	#s5_button_wrap0 {
	margin:0px !important;
	border-bottom:none !important;
	}
	
}








/* SINGLE COLUMN FOR SMALL TABLETS - THIS IS ONLY USED FOR IE7 AND IE8. THE CLASS IS SET WITH JAVASCRIPT FOR IE ONLY
----------------------------------------------------------- */

@media screen and (max-width: 750px){
	
	.s5_ie_single_column #s5_right_column_wrap_inner .s5_float_left, .s5_ie_single_column #s5_left_column_wrap_inner .s5_float_left {
	float:none  !important;
	}

	.s5_ie_single_column #s5_columns_wrap_inner {
	width:100%  !important;
	}

	.s5_ie_single_column #s5_center_column_wrap {
	width:100%  !important;
	left:100%  !important;
	}

	.s5_ie_single_column #s5_left_column_wrap {
	left:0%  !important;
	}
	
	.s5_ie_single_column #s5_left_top_wrap, .s5_ie_single_column #s5_left_column_wrap, .s5_ie_single_column #s5_left_inset_wrap, .s5_ie_single_column #s5_left_wrap, .s5_ie_single_column #s5_left_bottom_wrap, .s5_ie_single_column #s5_right_top_wrap, .s5_ie_single_column #s5_right_column_wrap, .s5_ie_single_column #s5_right_inset_wrap, .s5_ie_single_column #s5_right_wrap, .s5_ie_single_column #s5_right_bottom_wrap {
	width:100% !important;
	}
	
	.s5_ie_single_column #s5_center_column_wrap_inner {
	margin:0px !important;
	}
	
	.s5_ie_single_column #s5_left_column_wrap {
	margin-right:0px !important;
	}
	
	.s5_ie_single_column #s5_right_column_wrap {
	margin-left:0px !important;
	}
	
	.s5_ie_single_column  .items-row .item {
	width:100% !important;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	}

}